<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ2s9aGJ1tOmjxaAHU-4PVbb0y6wCUMP8</string>
	<key>GCM_SENDER_ID</key>
	<string>11123551447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>testflutterapp-53aca</string>
	<key>STORAGE_BUCKET</key>
	<string>testflutterapp-53aca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11123551447:ios:50589eac1aac7b0ad19492</string>
</dict>
</plist>